<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <userSettings>
    <MessageRoll.Properties.Settings>
      <setting name="WatchFile" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>.\watch.txt</value>
      </setting>
    </MessageRoll.Properties.Settings>
  </userSettings>
</configuration>