<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
    <targets xdt:Transform="Insert">
      <target name="log"
              xsi:type="File"
              encoding="UTF-8"
              lineEnding="LF"
              layout="[${longdate}] [${uppercase:${level:padding=5}}] ${callsite}() - ${message} ${exception:format=tostring}"
              fileName="${basedir}/logs/message.log"
              archiveNumbering="Date"
              archiveFileName="${basedir}/logs/archive/{#}-message.log"
              archiveEvery="Day" archiveDateFormat="yyyyMMdd"
              maxArchiveFiles="7"/>
      <target name="info"
              xsi:type="File"
              encoding="UTF-8"
              lineEnding="LF"
              layout="[${longdate}] [${uppercase:${level:padding=5}}] ${callsite}() - ${message} ${exception:format=tostring}"
              fileName="${basedir}/logs/info.log"
              archiveNumbering="Date"
              archiveFileName="${basedir}/logs/archive/{#}-info.log"
              archiveEvery="Day" archiveDateFormat="yyyyMMdd"
              maxArchiveFiles="7"/>
    </targets>
    <rules xdt:Transform="Insert">
      <logger name="*" levels="Debug,Info,Warn,Error,Fatal" writeTo="log"/>
    </rules>
  </nlog>
</configuration>